/* .game {
    background: #fff;
    height: 200px;
    margin: 1rem;
    position: relative;
    width: 250px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    height: 100%; 
    
  } */
  
  .game > .img-game > img {
    
    overflow: hidden;
    text-align: center;
    background:#6CADDC; 
    width: 300px;
    height: 400px;
    
  }
